/* testsite.css */

body {
  background-color: #E9F1F7;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  margin-top: 1.5em
}

.container {
  display:grid;
  grid-template-columns: [left-gutter] 1fr [main content] 14fr [right-gutter] 1fr;
  grid-template-rows: [header] 4em, [nav] 3em, [body] auto;
  grid-gap: 0em;
}

.articlegridcontainer {
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: [title] 1fr [body] 6fr;
  grid-gap: 0.5em;

  min-width: 200px;
  max-width: 80%
  padding: 1.5em;
  padding-right: 3em;

  /*border-style: solid;
  border-color: #F1AB86;
  border-width: thick;
  border-radius: 10px;*/
}

.header {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  text-align: left;
  letter-spacing: 0.1em;
  color: #FCA311;
  font-size: 2em;
  text-shadow: -0.05em 0.05em #14213D;
  text-decoration: none;
}

.nav {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  text-align: left;
  letter-spacing: 0.1em;
  font-size: 1em;
  color: #2274A5;
}

.nav ul {
  list-style-type: none;
  color: #2274A5;
  padding: inherit;
}

.nav li {
  display: inline;
  padding-left: 0em;
  padding-right: 0.5em;
  margin: inherit;
  animation-name: fadein;
  animation-duration: 2s;
  color: #2274A5;
}

.nav li:hover {
  transform: scale(1.2, 1.2);
}

.articleblock {
  grid-column: 2 / span 1;
  grid-row-start: 4 / span 1;
  color: #001F3F;
  margin-left: 1em;
  margin-top: 1em;
  text-align: left;
  list-style-position: inside;
}

.articletitle {
  grid-row: 1 / span 1;
  grid-column: 1 / span 1
  text-align: left;
  font-size: 1.75em;
  /*animation-name: fadein;
  animation-timing-function: ease-out;
  animation-duration: 1s;*/
}

.articlebody {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  text-align: left;
  font-size: 1em;
  /*animation-name: fadein;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;*/
}

img {
    width:100%;
    max-width:100%;
    border-radius: 0.8em;
}

p {
  max-width: 800px;
}

a:link {
  color: #2274A5;
  text-decoration: none;
}

a:visited {
  color: #2274A5;
  text-decoration: none;
}

a:hover {
  color: #A5402D;
  text-decoration: none;
}

a:active {
  color: #2274A5;
  text-decoration: none;
}

@keyframes fadein {
  from {color: #E9F1F7;}
  to {color: inherit;;}
}
